*{
    margin:0;
    padding:0
}
body{
    background-color: #F7F9FC;
}
.nav_1{
display:flex;
justify-content: center;
align-items: center;
text-align: center;
gap:15px;
font-weight: bold;
font-size: 20px;
}
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    flex-direction: column;
    max-width: 1200px;

}
.btn-cont {
    display: flex;
    gap: 20px; 
    align-items: center;
    margin-left:650px;
    margin-bottom:20px;
}
.entire-container{
    height:250vh;
    width:85%;
    margin-left:70px;
    padding:20px;
    border-radius:20px;
}
.header h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #ffffff;
    color: #333;
    padding: 10px 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    align-items: center; 
    gap: 5px; 
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}.dropdown:hover .dropdown-content {
    display: block;
}
.num-output{
width:90%;
height:200vh;
/* border:2px solid black; */
justify-content: center;
align-items: center;
text-align: center;
margin-top:20px;
}
.output{
    height:122px;
    width:80%;
margin-left:100px;
margin-top:25px;
border-radius: 10px;
background-color:#FFFFFF; 
box-shadow: 0 0 4px;
}
.graph{
    width:80%;
    border:1px solid black;
    height:250px;
    margin-left:100px;
margin-top:27px;
background-color:#FFFFFF; 
box-shadow: 0 0 4px;
border-radius:10px ;
margin-bottom: 20px;
}
.recent-app{
    width:90%;
    border:1px solid black;
    height:270px;
    margin-left:50px;
margin-top:27px;
background-color:#FFFFFF; 
box-shadow: 0 0 4px;
border-radius:10px ;
}
.icon {
    background-color: #f0f4ff; /* light soft background */
    padding: 12px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    color: #3b82f6; /* sets stroke color via currentColor */
  }
  .r {
    font-size: 25px;
    font-weight: bold;
}
  .icon svg {
    width: 32px;
    height: 32px;
    color: #3b82f6;
}
.text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.h {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

  
  @media (max-width: 768px) {
    .btn-cont {
        flex-direction: column;
    }

    .output {
        flex: 1 1 100%;
    }
}