*{
    margin:0;
    padding:0;
}
body{
    /* background-color: #F8F9FA; */
 
}
.login-cont{
    height:100vh;
    background-color:#F8F9FA;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login{
    background-color:#FFFFFF;
    margin-top:20px;
    margin-left: 30px;
    border-radius: 20px;
    height:430px;
    align-items: center;
    width:430px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}
input[type="email"],input[type="password"]{
    height:45px;
    width: 300px;
    border-radius:10px;
    border:0.5px solid grey;
    padding:24px;
}
#login-btn{
    width:300px;
    padding:13px;
    font-size: 18px;
    margin-top:10px;
}
.linked-git {
  
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  

 
}
.LinkedIn,.Github{
padding: 14px;
border:1px solid black;
background-color:#FFFFFF;
border-radius: 10px;
margin-top: 10px;
width:150px

}
#pass{
    margin-left: 50px;
}
.rem-forgot{
    margin-top:2px;
}
.form-field{
gap:20px;
justify-content: space-between;
}